@charset "UTF-8";

@font-face {
    font-family: 'HyundaiSans';
    font-weight: 600;
    font-style: normal;

    src: url('../../../fonts/HyundaiSans/HyundaiSansText-Bold/HyundaiSansText-Bold.eot'),
    url('../../../fonts/HyundaiSans/HyundaiSansText-Bold/HyundaiSansText-Bold.eot?#iefix') format("embedded-opentype"),
    url('../../../fonts/HyundaiSans/HyundaiSansText-Bold/HyundaiSansText-Bold.woff2') format('woff2'),
    url('../../../fonts/HyundaiSans/HyundaiSansText-Bold/HyundaiSansText-Bold.woff') format('woff');
}
