@charset "UTF-8";

@font-face {
    font-family: 'HyundaiSans';
    font-weight: normal;
    font-style: normal;

    src: url('../../../fonts/HyundaiSans/HyundaiSansText-Regular/HyundaiSansText-Regular.eot'),
    url('../../../fonts/HyundaiSans/HyundaiSansText-Regular/HyundaiSansText-Regular.eot?#iefix') format("embedded-opentype"),
    url('../../../fonts/HyundaiSans/HyundaiSansText-Regular/HyundaiSansText-Regular.woff2') format('woff2'),
    url('../../../fonts/HyundaiSans/HyundaiSansText-Regular/HyundaiSansText-Regular.woff') format('woff');
}
