@charset "UTF-8";

@font-face {
    font-family: 'Corporate S';
    font-weight: 600;
    font-style: normal;

    src: local('Daimler CS Demi'),
    local('Corporate S Bold'),
    url('../../../fonts/mercedes-benz/DaimlerCS-Demi/DaimlerCS-Demi.eot'),
    url('../../../fonts/mercedes-benz/DaimlerCS-Demi/DaimlerCS-Demi.eot?#iefix') format('embedded-opentype'),
    url('../../../fonts/mercedes-benz/DaimlerCS-Demi/DaimlerCS-Demi.woff2') format('woff2'),
    url('../../../fonts/mercedes-benz/DaimlerCS-Demi/DaimlerCS-Demi.woff') format('woff'),
    url('../../../fonts/mercedes-benz/DaimlerCS-Demi/DaimlerCS-Demi.ttf') format('truetype'),
    url('../../../fonts/mercedes-benz/DaimlerCS-Demi/DaimlerCS-Demi.svg#DaimlerCS-Demi') format('svg');
}
