@charset "UTF-8";

@font-face {
    font-family: 'Corporate S Arab';
    font-weight: 400;
    font-style: normal;

    src: local('Daimler CS Arab'),
    url('../../../fonts/mercedes-benz/DaimlerCSArab-Regular/DaimlerCSArab-Regular.eot'),
    url('../../../fonts/mercedes-benz/DaimlerCSArab-Regular/DaimlerCSArab-Regular.eot?#iefix') format('embedded-opentype'),
    url('../../../fonts/mercedes-benz/DaimlerCSArab-Regular/DaimlerCSArab-Regular.woff2') format('woff2'),
    url('../../../fonts/mercedes-benz/DaimlerCSArab-Regular/DaimlerCSArab-Regular.woff') format('woff'),
    url('../../../fonts/mercedes-benz/DaimlerCSArab-Regular/DaimlerCSArab-Regular.ttf') format('truetype'),
    url('../../../fonts/mercedes-benz/DaimlerCSArab-Regular/DaimlerCSArab-Regular.svg#Daimler-CS-Arab') format('svg');
}
