@charset "UTF-8";

@font-face {
    font-family: 'AvenirNext';
    font-weight: 300;
    font-style: normal;

    src: local('AvenirNext-Light'),
    local('Avenir Next Cyr W00 Light'),
    url('../../../fonts/honda/AvenirNext-Light/AvenirNext-Light.eot'),
    url('../../../fonts/honda/AvenirNext-Light/AvenirNext-Light.eot?#iefix') format('embedded-opentype'),
    url('../../../fonts/honda/AvenirNext-Light/AvenirNext-Light.woff2') format('woff2'),
    url('../../../fonts/honda/AvenirNext-Light/AvenirNext-Light.woff') format('woff'),
    url('../../../fonts/honda/AvenirNext-Light/AvenirNext-Light.svg#AvenirNext-Light') format('svg');
}
