@charset "UTF-8";

@font-face {
    font-family: 'AvenirNext';
    font-weight: 700;
    font-style: normal;

    src: local('AvenirNext-Bold'),
    local('Avenir Next Cyr W00 Bold'),
    url('../../../fonts/honda/AvenirNext-Bold/AvenirNext-Bold.eot'),
    url('../../../fonts/honda/AvenirNext-Bold/AvenirNext-Bold.eot?#iefix') format('embedded-opentype'),
    url('../../../fonts/honda/AvenirNext-Bold/AvenirNext-Bold.woff2') format('woff2'),
    url('../../../fonts/honda/AvenirNext-Bold/AvenirNext-Bold.woff') format('woff'),
    url('../../../fonts/honda/AvenirNext-Bold/AvenirNext-Bold.svg#AvenirNext-Bold') format('svg');
}
