@charset "UTF-8";

@font-face {
    font-family: 'AvenirNext';
    font-weight: 600;
    font-style: normal;

    src: local('AvenirNext-DemiBold'),
    local('Avenir Next Cyr W00 Demi'),
    url('../../../fonts/honda/AvenirNext-DemiBold/AvenirNext-DemiBold.eot'),
    url('../../../fonts/honda/AvenirNext-DemiBold/AvenirNext-DemiBold.eot?#iefix') format('embedded-opentype'),
    url('../../../fonts/honda/AvenirNext-DemiBold/AvenirNext-DemiBold.woff2') format('woff2'),
    url('../../../fonts/honda/AvenirNext-DemiBold/AvenirNext-DemiBold.woff') format('woff'),
    url('../../../fonts/honda/AvenirNext-DemiBold/AvenirNext-DemiBold.svg#AvenirNext-DemiBold') format('svg');
}
