@charset "UTF-8";

@font-face {
    font-family: 'AvenirNext';
    font-weight: 500;
    font-style: italic;

    src: local('AvenirNext-MediumItalic'),
    local('Avenir Next Cyr W00 Medium It'),
    url('../../../fonts/honda/AvenirNext-MediumItalic/AvenirNext-MediumItalic.eot'),
    url('../../../fonts/honda/AvenirNext-MediumItalic/AvenirNext-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('../../../fonts/honda/AvenirNext-MediumItalic/AvenirNext-MediumItalic.woff2') format('woff2'),
    url('../../../fonts/honda/AvenirNext-MediumItalic/AvenirNext-MediumItalic.woff') format('woff'),
    url('../../../fonts/honda/AvenirNext-MediumItalic/AvenirNext-MediumItalic.svg#AvenirNext-MediumItalic') format('svg');
}
