@charset "UTF-8";

@font-face {
    font-family: 'FordAntenna';
    font-weight: 300;
    font-style: normal;

    src: local('FordAntenna-Light'),
    url('../../../fonts/ford/FordAntenna-Light/FordAntenna-Light.eot'),
    url('../../../fonts/ford/FordAntenna-Light/FordAntenna-Light.eot?#iefix') format("embedded-opentype"),
    url('../../../fonts/ford/FordAntenna-Light/FordAntenna-Light.woff') format('woff'),
    url('../../../fonts/ford/FordAntenna-Light/FordAntenna-Light.ttf') format('truetype'),
    url('../../../fonts/ford/FordAntenna-Light/FordAntenna-Light.svg#FordAntenna-Light') format('svg');
}
