@charset "UTF-8";

@font-face {
    font-family: 'FordAntenna';
    font-weight: 700;
    font-style: normal;

    src: local('FordAntenna-Bold'),
    url('../../../fonts/ford/FordAntenna-Bold/FordAntenna-Bold.eot'),
    url('../../../fonts/ford/FordAntenna-Bold/FordAntenna-Bold.eot?#iefix') format("embedded-opentype"),
    url('../../../fonts/ford/FordAntenna-Bold/FordAntenna-Bold.woff') format('woff'),
    url('../../../fonts/ford/FordAntenna-Bold/FordAntenna-Bold.ttf') format('truetype'),
    url('../../../fonts/ford/FordAntenna-Bold/FordAntenna-Bold.svg#FordAntenna-Bold') format('svg');
}
