@charset "UTF-8";

@font-face {
    font-family: 'FordAntennaCond';
    font-weight: 700;
    font-style: normal;

    src: local('FordAntennaCond-Bold'),
    url('../../../fonts/ford/FordAntennaCond-Bold/FordAntennaCond-Bold.eot'),
    url('../../../fonts/ford/FordAntennaCond-Bold/FordAntennaCond-Bold.eot?#iefix') format('embedded-opentype'),
    url('../../../fonts/ford/FordAntennaCond-Bold/FordAntennaCond-Bold.woff') format('woff'),
    url('../../../fonts/ford/FordAntennaCond-Bold/FordAntennaCond-Bold.ttf') format('truetype'),
    url('../../../fonts/ford/FordAntennaCond-Bold/FordAntennaCond-Bold.svg#FordAntennaCond-Bold') format('svg');
}
