@charset "UTF-8";

@font-face {
    font-family: 'FordAntenna';
    font-weight: 900;
    font-style: normal;

    src: local('FordAntenna-Black'),
    url('../../../fonts/ford/FordAntenna-Black/FordAntenna-Black.eot'),
    url('../../../fonts/ford/FordAntenna-Black/FordAntenna-Black.eot?#iefix') format('embedded-opentype'),
    url('../../../fonts/ford/FordAntenna-Black/FordAntenna-Black.woff') format('woff'),
    url('../../../fonts/ford/FordAntenna-Black/FordAntenna-Black.ttf') format('truetype'),
    url('../../../fonts/ford/FordAntenna-Black/FordAntenna-Black.svg#FordAntenna-Black') format('svg');
}
