@charset "UTF-8";

@font-face {
    font-family: 'Corporate A Condensed';
    font-weight: 400;
    font-style: normal;
    font-size: 16px;

    src: local('Daimler CAC'),
    local('Corporate A Condensed'),
    url('../../../fonts/Daimler/DaimlerCAC/DaimlerCAC-Regular.eot'),
    url('../../../fonts/Daimler/DaimlerCAC/DaimlerCAC-Regular.woff2') format('woff2'),
    url('../../../fonts/Daimler/DaimlerCAC/DaimlerCAC-Regular.woff') format('woff'),
    url('../../../fonts/Daimler/DaimlerCAC/DaimlerCAC-Regular.ttf') format('ttf'),
    url('../../../fonts/Daimler/DaimlerCAC/DaimlerCAC-Regular.svg#DaimlerCAC-Regular');
}
