@charset "UTF-8";

@font-face {
    font-family: 'HyundaiSansHead';
    font-weight: 300;
    font-style: normal;

    src: local('HyundaiSansHead-Light'),
    url('../../../fonts/hyundai/HyundaiSansHead-Light/HyundaiSansHead-Light.eot'),
    url('../../../fonts/hyundai/HyundaiSansHead-Light/HyundaiSansHead-Light.eot?#iefix') format('embedded-opentype'),
    url('../../../fonts/hyundai/HyundaiSansHead-Light/HyundaiSansHead-Light.woff2') format('woff2'),
    url('../../../fonts/hyundai/HyundaiSansHead-Light/HyundaiSansHead-Light.woff') format('woff');
}
