@charset "UTF-8";

@font-face {
    font-family: 'HyundaiSans';
    font-weight: 600;
    font-style: italic;

    src: local('HyundaiSansText-BoldItalic'),
    url('../../../fonts/hyundai/HyundaiSansText-BoldItalic/HyundaiSansText-BoldItalic.eot'),
    url('../../../fonts/hyundai/HyundaiSansText-BoldItalic/HyundaiSansText-BoldItalic.eot?#iefix') format("embedded-opentype"),
    url('../../../fonts/hyundai/HyundaiSansText-BoldItalic/HyundaiSansText-BoldItalic.woff2') format('woff2'),
    url('../../../fonts/hyundai/HyundaiSansText-BoldItalic/HyundaiSansText-BoldItalic.woff') format('woff');
}
