@charset "UTF-8";

@font-face {
    font-family: 'HyundaiSansHead';
    font-weight: normal;
    font-style: normal;

    src: local('HyundaiSansHead-Regular'),
    url('../../../fonts/hyundai/HyundaiSansHead-Regular/HyundaiSansHead-Regular.eot'),
    url('../../../fonts/hyundai/HyundaiSansHead-Regular/HyundaiSansHead-Regular.eot?#iefix') format("embedded-opentype"),
    url('../../../fonts/hyundai/HyundaiSansHead-Regular/HyundaiSansHead-Regular.woff2') format('woff2'),
    url('../../../fonts/hyundai/HyundaiSansHead-Regular/HyundaiSansHead-Regular.woff') format('woff');
}
