@charset "UTF-8";

@font-face {
    font-family: 'HyundaiSansText';
    font-weight: normal;
    font-style: italic;

    src: local('HyundaiSansText-Italic'),
    url('../../../fonts/hyundai/HyundaiSansText-Italic/HyundaiSansText-Italic.eot'),
    url('../../../fonts/hyundai/HyundaiSansText-Italic/HyundaiSansText-Italic.eot?#iefix') format("embedded-opentype"),
    url('../../../fonts/hyundai/HyundaiSansText-Italic/HyundaiSansText-Italic.woff2') format('woff2'),
    url('../../../fonts/hyundai/HyundaiSansText-Italic/HyundaiSansText-Italic.woff') format('woff');
}
