@charset "UTF-8";

@font-face {
    font-family: 'HyundaiSansText';
    font-weight: 500;
    font-style: normal;

    src: local('HyundaiSansText-Medium'),
    url('../../../fonts/hyundai/HyundaiSansText-Medium/HyundaiSansText-Medium.eot'),
    url('../../../fonts/hyundai/HyundaiSansText-Medium/HyundaiSansText-Medium.eot?#iefix') format("embedded-opentype"),
    url('../../../fonts/hyundai/HyundaiSansText-Medium/HyundaiSansText-Medium.woff2') format('woff2'),
    url('../../../fonts/hyundai/HyundaiSansText-Medium/HyundaiSansText-Medium.woff') format('woff');
}
