@charset "UTF-8";

@font-face {
    font-family: 'HyundaiSansHead';
    font-weight: 500;
    font-style: normal;

    src: local('HyundaiSansHead-Medium'),
    url('../../../fonts/hyundai/HyundaiSansHead-Medium/HyundaiSansHead-Medium.eot'),
    url('../../../fonts/hyundai/HyundaiSansHead-Medium/HyundaiSansHead-Medium.eot?#iefix') format('embedded-opentype'),
    url('../../../fonts/hyundai/HyundaiSansHead-Medium/HyundaiSansHead-Medium.woff2') format('woff2'),
    url('../../../fonts/hyundai/HyundaiSansHead-Medium/HyundaiSansHead-Medium.woff') format('woff');
}
