@charset "UTF-8";

@font-face {
    font-family: 'HyundaiSansHead';
    font-weight: 700;
    font-style: normal;

    src: local('HyundaiSansHead-Bold'),
    url('../../../fonts/hyundai/HyundaiSansHead-Bold/HyundaiSansHead-Bold.eot'),
    url('../../../fonts/hyundai/HyundaiSansHead-Bold/HyundaiSansHead-Bold.eot?#iefix') format('embedded-opentype'),
    url('../../../fonts/hyundai/HyundaiSansHead-Bold/HyundaiSansHead-Bold.woff2') format('woff2'),
    url('../../../fonts/hyundai/HyundaiSansHead-Bold/HyundaiSansHead-Bold.woff') format('woff');
}
