@charset "UTF-8";

@font-face {
    font-family: 'Opel Sans Condensed';
    font-weight: 800;
    font-style: normal;
    font-stretch: condensed;

    src: local('Opel Sans Condensed ExtraBold'),
    url('../../../fonts/opel/OpelSans-Condensed-ExtraBold/OpelSansCondensedExtraBold.eot'),
    url('../../../fonts/opel/OpelSans-Condensed-ExtraBold/OpelSansCondensedExtraBold.eot?#iefix') format('embedded-opentype'),
    url('../../../fonts/opel/OpelSans-Condensed-ExtraBold/OpelSansCondensedExtraBold.woff2') format('woff2'),
    url('../../../fonts/opel/OpelSans-Condensed-ExtraBold/OpelSansCondensedExtraBold.woff') format('woff'),
    url('../../../fonts/opel/OpelSans-Condensed-ExtraBold/OpelSansCondensedExtraBold.ttf') format('truetype'),
    url('../../../fonts/opel/OpelSans-Condensed-ExtraBold/OpelSansCondensedExtraBold.svg#OpelSansCondensed-ExtraBold') format('svg');
}
