@charset "UTF-8";

@font-face {
    font-family: 'mopar-fiat';
    src: url('../../../fonts/fiat/MoparFiat/mopar-fiat.eot');
    src: url('../../../fonts/fiat/MoparFiat/mopar-fiat.eot?#iefix') format('embedded-opentype'),
    url('../../../fonts/fiat/MoparFiat/mopar-fiat.woff2') format('woff2'),
    url('../../../fonts/fiat/MoparFiat/mopar-fiat.woff') format('woff'),
    url('../../../fonts/fiat/MoparFiat/mopar-fiat.ttf') format('truetype'),
    url('../../../fonts/fiat/MoparFiat/mopar-fiat.svg#mopar-fiat') format('svg');
    font-weight: 400;
    font-style: normal;
}
