@charset "UTF-8";

@font-face {
    font-family: 'Renault Life';
    font-weight: 400;
    font-style: italic;

    src: local('Renault Life'),
    url('../../../fonts/renault/RenaultLife-Italic/RenaultLife-Italic.eot'),
    url('../../../fonts/renault/RenaultLife-Italic/RenaultLife-Italic.eot?#iefix') format('embedded-opentype'),
    url('../../../fonts/renault/RenaultLife-Italic/RenaultLife-Italic.woff2') format('woff2'),
    url('../../../fonts/renault/RenaultLife-Italic/RenaultLife-Italic.woff') format('woff'),
    url('../../../fonts/renault/RenaultLife-Italic/RenaultLife-Italic.ttf') format('truetype'),
    url('../../../fonts/renault/RenaultLife-Italic/RenaultLife-Italic.svg#RenaultLife-Italic') format('svg');
}
