@charset "UTF-8";

@font-face {
    font-family: 'Renault Life';
    font-weight: 400;
    font-style: normal;

    src: local('Renault Life'),
    url('../../../fonts/renault/RenaultLife-Regular/RenaultLife-Regular.eot'),
    url('../../../fonts/renault/RenaultLife-Regular/RenaultLife-Regular.eot?#iefix') format('embedded-opentype'),
    url('../../../fonts/renault/RenaultLife-Regular/RenaultLife-Regular.woff2') format('woff2'),
    url('../../../fonts/renault/RenaultLife-Regular/RenaultLife-Regular.woff') format('woff'),
    url('../../../fonts/renault/RenaultLife-Regular/RenaultLife-Regular.ttf') format('truetype'),
    url('../../../fonts/renault/RenaultLife-Regular/RenaultLife-Regular.svg#RenaultLife-Regular') format('svg');
}
