@charset "UTF-8";

@font-face {
    font-family: 'Renault Life';
    font-weight: 700;
    font-style: normal;

    src: local('Renault Life'),
    url('../../../fonts/renault/RenaultLife-Bold/RenaultLife-Bold.eot'),
    url('../../../fonts/renault/RenaultLife-Bold/RenaultLife-Bold.eot?#iefix') format('embedded-opentype'),
    url('../../../fonts/renault/RenaultLife-Bold/RenaultLife-Bold.woff2') format('woff2'),
    url('../../../fonts/renault/RenaultLife-Bold/RenaultLife-Bold.woff') format('woff'),
    url('../../../fonts/renault/RenaultLife-Bold/RenaultLife-Bold.ttf') format('truetype'),
    url('../../../fonts/renault/RenaultLife-Bold/RenaultLife-Bold.svg#RenaultLife-Bold') format('svg');
}
