@charset "UTF-8";

@font-face {
    font-family: 'FordAntennaCond';
    font-weight: 600;
    font-style: normal;

    src: local('FordAntennaCond-Medium'),
    url('../../../fonts/ford/FordAntennaCond-Medium/FordAntennaCond-Medium.eot'),
    url('../../../fonts/ford/FordAntennaCond-Medium/FordAntennaCond-Medium.eot?#iefix') format("embedded-opentype"),
    url('../../../fonts/ford/FordAntennaCond-Medium/FordAntennaCond-Medium.woff') format('woff'),
    url('../../../fonts/ford/FordAntennaCond-Medium/FordAntennaCond-Medium.ttf') format('truetype'),
    url('../../../fonts/ford/FordAntennaCond-Medium/FordAntennaCond-Medium.svg#FordAntennaCond-Medium') format('svg');
}
