@charset "UTF-8";

@font-face {
    font-family: 'FordAntenna';
    font-weight: 700;
    font-style: normal;

    src: local('FordAntenna-Semibold'),
    url('../../../fonts/ford/FordAntenna-Semibold/FordAntenna-Semibold.eot'),
    url('../../../fonts/ford/FordAntenna-Semibold/FordAntenna-Semibold.eot?#iefix') format("embedded-opentype"),
    url('../../../fonts/ford/FordAntenna-Semibold/FordAntenna-Semibold.woff') format('woff'),
    url('../../../fonts/ford/FordAntenna-Semibold/FordAntenna-Semibold.ttf') format('truetype'),
    url('../../../fonts/ford/FordAntenna-Semibold/FordAntenna-Semibold.svg#FordAntenna-Semibold') format('svg');
}
