@charset "UTF-8";

@font-face {
    font-family: 'FordAntenna';
    font-weight: 600;
    font-style: normal;

    src: local('FordAntenna-Medium'),
    url('../../../fonts/ford/FordAntenna-Medium/FordAntenna-Medium.eot'),
    url('../../../fonts/ford/FordAntenna-Medium/FordAntenna-Medium.eot?#iefix') format("embedded-opentype"),
    url('../../../fonts/ford/FordAntenna-Medium/FordAntenna-Medium.woff') format('woff'),
    url('../../../fonts/ford/FordAntenna-Medium/FordAntenna-Medium.ttf') format('truetype'),
    url('../../../fonts/ford/FordAntenna-Medium/FordAntenna-Medium.svg#FordAntenna-Medium') format('svg');
}
