@charset "UTF-8";

@font-face {
    font-family: 'Usuzi Expanded';
    font-weight: 400;
    font-style: normal;
    font-stretch: expanded;

    src: local('Usuzi Expanded'),
    url('../../../fonts/isuzu/UsuziExpanded.eot'),
    url('../../../fonts/isuzu/UsuziExpanded.eot?#iefix') format('embedded-opentype'),
    url('../../../fonts/isuzu/UsuziExpanded.woff2') format('woff2'),
    url('../../../fonts/isuzu/UsuziExpanded.woff') format('woff'),
    url('../../../fonts/isuzu/UsuziExpanded.ttf') format('truetype'),
    url('../../../fonts/isuzu/UsuziExpanded.svg#UsuziExpanded') format('svg');
}
